<%- include('cabecera', {titulo: 'Panel de Control' }) -%>
  <div class="section">
    <div class="container">
      <br><br>
      <h1 class="header center-align">Panel de Control</h1>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <br><br>
      <div class="row">
        <div style='display: <%= otro %> '>
          <div class="row">
            <form class="col s12" method='post' action='admin'>

              <div class="row">
                <div class="col s5 "></div>
                <div class="col s5 ">

                </div>
                <div class="col s2 ">
                  <input type="submit" value='Admin' class="waves-effect waves-light purple lighten-1 btn">
                </div>

              </div>

            </form>
            <div class="center-align">
            <h2 class="center-align" id="numero">
              <%= numCarnicero %>
            </h2>
            <a onclick="sumarTurno()" class="waves-effect center-align waves-light purple lighten-1 btn">Siguiente </a>
          </div>
          </div>
        </div>
        <form class="col s12" method='post' action='cambiar'>
          <div class="row">
            <div class="col s12 ">
              <h2 class="">Cambiar Contraseña</h2>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="pass1" name='pass1' type="password" class="validate">
              <label for="pass1">Contraseña</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" name='password' type="password" class="validate">
              <label for="password">Repetir Contraseña</label>
            </div>
          </div>
          <div class="row">
            <div class=' col s10'></div>
            <div class=" col s2">
              <input type="submit" value='Enviar' class="waves-effect waves-light purple lighten-1 btn">
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
  <script>
    let turnoCarnicero = 0
    let socket = new WebSocket("ws://localhost:8080/puesto");

    function sumarTurno() {
      socket.send("siguiente")
    }


    socket.onopen = function (e) {
      
      // En este caso no se hace nada
      /* cuantos++
       socket.send({"cuantos":cuantos})*/

    };
    socket.onmessage = function (event) {
      let numero=event.data
      console.log(numero)
      document.getElementById("numero").innerHTML=""+numero;
      /* const mensajes = JSON.parse(event.data)
       let html = ''
       for (let n = 0; n < mensajes.length; n++) {
           const mensaje = mensajes[n]
           html += "<p><b>" + mensaje.usuario + "</b>: " + mensaje.mensaje
               + "</p>";
       }*/
      //document.getElementById('mensajes').innerHTML = event.data;
    };


    socket.onclose = function (event) {
      if (event.wasClean) {
        alert(`[onclose] Conexión cerrada limpiamente, code=$
{event.code} reason=${event.reason}`);
      } else {
        // Servidor apagado o sin red
        alert('[onclose] La conexión se ha perdido');
      }
    };
    socket.onerror = function (error) {
      alert(`[onerror] ${error.message}`);
    };

  </script>



  <%- include('pie') -%>